.banner__category{
    background: var(--davys-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: var(--thistle);
    text-transform: uppercase;
}

.banner__category img{
    width: 10em;
}


.category__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1em;
    gap: 1em;
}