

.container_image{
    width: 100%;
    height: 10em;
    background: var(--thistle);
    display: flex;
    justify-content: center;
}

.container__details{
    background: var(--persian-ligth-green);
    padding: 1em;
    height: 6em;
    color: var(--magnolia);
}

.details__books{
    display: flex;
    justify-content: space-between;
}

.books__link a{ 
    background: var(--dim-gray);
}

.books__link a:hover{ 
    background: var(--davys-gray);
}